* {
  /* border: 1px solid red; */
}
body, html {
  margin: 0;
}
.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  background-image: url(http://writink.com/wp-content/uploads/2016/08/Fresh-Food.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 200px;
  height:200px;
  margin: 20px 35px;
}
h1 {
  padding: 4em;
  text-align: center;
  color: white;
}
h2 {
  color: #3a3a3a;
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: center;

}
.welcome {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #ead33a;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #5e424c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.devs {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px 40px;
}
.devs a {
  text-decoration: none;
  color: white;
}
.devs a:hover{
  color: #efecda;
}
